html, body {
    height: 100%;
}
body {
    background-color: #122632;
}

li.departmentInfo a.glyphicon {
 	padding-left: 10px;
}
.alert {
	position: fixed;
    z-index: 1000;
    /* top: 20px; */
    right: 20px;
}
.fr {
    float:right;
}
.mgnPopup {
    background: #FFF;
    padding: 20px 30px;
    text-align: left;
    max-width: 600px;
    margin: 40px auto;
    position: relative;
}
.btn-group {
    margin-top: 15px;
}
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}
.header {
    margin-bottom: 25px;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.page-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}
.gift-img {
    width: 70px;
    height: 70px;
}
.gift-img img {
    width: 100%;
    vertical-align: middle;
}
.gift-ico {
    width: 70px;
    height: 70px;
    font-size: 28px;
    text-align: center;
}
div.text-center {
    margin: 10px 0;
}
td a {
    display: block;
    text-align: center;
}
.w {
    float: left;
    box-sizing: border-box;
    padding: 10px;
}
.w-100 {
    width: 100%;
}
.w-75 {
    width: 75%;
}
.w-50 {    
    width: 50%;
}
.w-30 {
    width: 30%;
}
.w-25 {
    width: 25%;
}
.w-10 {
    width: 12.5%;
}
.p2 {
    padding: 2px;
}
#error {
    color: #ff4c4c;
    text-align: center;
    font-weight: bold;
}
#success {
    color:#58ceaa;;
    text-align: center;
    font-weight: bold;
}
.loader {
    z-index: 9999;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255, 0.7);
}
.radio-btns {
    height: 34px;
    border-radius: 4px;
    background: #fff;
}
.passport-screen {
    height: 250px;
    background: #fff;
    width: 50%;
    text-align: center;
    margin: 25px auto;
    border-radius: 4px;
}
.passport-screen img {
    height: 100%;
    padding: 10px;
}
.gift-row {
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    margin: 10px;
}
.gift-row div {
    display: inline-block;
    text-align: center;
}
.gift-row .key {
    width: 10%;
    font-size: 18px;
}
.gift-row .icon {
    font-size: 18px;
    width: 15%;
}
.gift-row .name {
    font-size: 18px;
    width: 50%;
}
.gift-row.taken {
    background: #a8ff37;
}
.gift-row.unavailable {
    background: #635d5d;
    color: #fff;
}